* {
  text-decoration: none;
  color: inherit;
  font-family: "newsserif-large-variable", sans-serif;
  font-variation-settings: "wght" 416;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  color: #ffffff;
}

.imgtitle {
  height: 10rem;
  margin-top: 0;
  margin-inline: -5rem;
}

header {
  position: relative;
  top: 0;
  width: 100vw;
}

.header-white {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 6rem;
  padding-inline: 1rem;
}

.header-gold {
  background-color: #ccba78;
  height: 3rem;
}

.logo-container {
  display: flex;
}

.logo {
  width: 8.5rem;
  height: 8.5rem;
  translate: 0 2.25rem;
}

.tabs {
  font-family: "newsserif-large-variable", sans-serif;
  font-variation-settings: "wght" 416;
  color: #ccba78;
  font-size: 25px;
  border: solid 2px #b2a4d4;
}

.title {
  color: #ffffff;
  font-family: "newsserif-large-variable", sans-serif;
  font-variation-settings: "wght" 416;
  font-size: 40px;
  display: flex;
  margin-left: 12vw;
}

h2 {
  font-family: "uppercut-angle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: #bebebe;
}

footer {
  background-color: #b2a4d4;
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100vw;
  text-align: center;
}
