* {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-family: "newsserif-large-variable", sans-serif;
  font-variation-settings: "wght" 416;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  color: #ffffff;
}

img {
  position: relative;
  width: 10vw;
  height: 10vw;
  margin-top: 0;
  margin-left: 0;
}

.imgtitle {
  width: 60vw;
  height: 30vh;
  margin-top: 0;
  margin-left: 0;
}

header {
  background-color: #ffffff;
  position: relative;
  height: 85px;
  top: 0;
  width: 100vw;
}

.tabs {
  font-family: "newsserif-large-variable", sans-serif;
  font-variation-settings: "wght" 416;
  color: #ccba78;
  font-size: 25px;
  border: solid 2px #b2a4d4;
  height: 25vh;
  margin-right: 30px;
}

.title {
  color: #ffffff;
  font-family: "newsserif-large-variable", sans-serif;
  font-variation-settings: "wght" 416;
  font-size: 40px;
  display: flex;
  margin-left: 12vw;
}

h2 {
  font-family: "uppercut-angle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: #bebebe;
}

footer {
  background-color: #b2a4d4;
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100vw;
  text-align: center;
}
